

ion-label{
  color: #4b4b4b;
  font-weight: 600;
  font-size: 14px;
  }

  .sc-ion-input-md-h:not(.legacy-input){
    min-height: 30px;
  }

.smar2{
  margin-left: 10px;
}
.policy_number{
  margin-top: 10px;
}
.monthly_rs_income{
  display: flex;
}
.monthly_details_salary{
  margin-top: 10px;
  width: 50%;
}
.monthly_salary_rs{
  width: 30%;
  margin-left: 20px;
  margin-top: 8px;
}
.total_main{
  display: flex;
  border-bottom: 1px solid gray;
}
.total_income_proposer,.total_annual_income_proposer{
  width: 50%;
}
.total_annual_income_proposer{
  margin-left: 20px;
}