<ion-grid>
  <ion-row>
    <ion-col *ngFor="let test of columnDataSMAR;let i=index;">{{test}}</ion-col>
  </ion-row>

  <ion-row *ngFor="let item of dataSMAR">
    <ion-col>{{item.policy_number}}</ion-col>
    <ion-col>{{item.plan_name}}</ion-col>
    <ion-col>{{item.channel}}</ion-col>
    <ion-col>{{item.customer_name}}</ion-col>
    <ion-col>{{item.customer_mobile}}</ion-col>
    <ion-col>{{item.reason_category}}</ion-col>
    <ion-col>{{item.agent_name}}</ion-col>
    <ion-col>{{item.agent_code}}</ion-col>
    <ion-col>{{item.agent_mobile}}</ion-col>
    <ion-col>{{item.office_name}}</ion-col>
    <ion-col>{{item.submission_date}}</ion-col>

  </ion-row>

</ion-grid>